# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

parameters:
  - name: fullRun
    displayName: if true full run
    type: boolean
    default: false


stages:
- stage: NonProd
  displayName: Non Production Stage
  jobs:
    - job: 
      displayName: Job number 1
      steps: 
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            # Write your PowerShell commands here.
            
            Write-Host "stage NonProd, step 1 task 1"
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            # Write your PowerShell commands here.
            
            Write-Host "stage NonProd, step 1 task 2"

- stage: RunTest
  displayName: Running tests
  jobs:
  - job: 
    displayName: Job number 2
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          
          Write-Host "stage RunTest, step 2 task 1"

- stage: ProdDeploy
  condition: eq(${{ parameters.fullRun}}, 'true')
  displayName: Production
  jobs:
  - job: 
    displayName: Job number 3
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          
          Write-Host "stage Production, step 3 task 1"